

:root{
  --titulo: 8em;
  --puntaje: 3em;
}

*{
  list-style: none;
  padding: 0;
  margin: 0;
}

body{
  overflow: hidden
}

#app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

#app::after{
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  width: 100vw;
  height: 116vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 4px,
    transparent 4px,
    transparent 8px);
  pointer-events: none;

  animation: move-line 0.5s infinite linear;
}

::selection {
  background: #0080FF;
  text-shadow: none;
}


@keyframes move-line {
  from {top: -16px;}
  to {top: -8px;}
}

#principal{
  width: 90%;
}

h1{
}

#principal div{
  text-align: center;
}

#principal > div > p{
  margin-top: 40px;
}

#principal div button{
  margin-top: 90px;
}

h1{
  text-align: center;
}

#puntaje{
  font-size: var(--puntaje);
}

#tabla-puntajes{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#modo-juego{
  margin-top: 70px;
}

#btn-play{
  margin-top: 70px;
}

.btn{
  display: flex;
  justify-content: center;
}

.btn p{
  display: inline-block;
  text-align: center;
}

.btn p:hover{
  cursor: pointer;
}


/*  */
#game{
  width: 100%;
  display: none;
}

#status ul{
  position: fixed;
  top: 0;
  right: 0;
}

#puntos{
  position: fixed;
  top: 0;
  right: 50%;
}

#time{
  position: fixed;
  top: 0;
  left: 0;
}

#status ul{
  display: flex;
}

#status ul li{
  margin-right: 30px;
}

#operacion{
  margin-top: 100px;
  font-size: var(--titulo);
  text-align: center;
}

#game form label{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#respuesta{
  background: none;
  border: none;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

#respuesta:focus{
  outline: none;
}
